<!DOCTYPE html>
<html>
  <head>
    <title>localhost</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <% for (var t in title){ %>
    <div><%= title[t].slug %></div>
    <%}%>

    
  </body>
</html>
